:root {
  --black: #121213;
  --black2: #231b28;
  --orange: #e9700e;
  --grey: #262626;
  --grey2: #38343f;
  --purple: #eb6dff;
  --noHover: #666666;
  --caption: #dbd8d8;
  --darkpurple:#2D0A31;
}
